.sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    /* background-color: rgb(230, 230, 230); */
}
  
mat-sidenav-content {
    position: relative;
    min-height: 100vh;
}