.register-form {
    display: inline-block;
    min-width: 150px;
    max-width: 500px;
    width: 80%;
}
  
.register-full-width {
    width: 100%;
}

.register-button-row {
  margin-top: .3rem;
}
.register-button-row button,
.register-button-row a {
  margin-right: 8px;
}

.register-form table {
  margin-left: auto;
  margin-right: auto;
}